.button-toolbar {

	display: flex;
	justify-content: space-between;

	.button {
		width: auto;
	}

	&.button-toolbar-reversed {
		flex-direction: row-reverse;
	}

	&.button-toolbar-align-left {
		justify-content: flex-start;
	}

	&.button-toolbar-align-right {
		justify-content: flex-end;
	}

}