.button {
	cursor: pointer;
	display: flex;
	padding: $padding-md $padding-lg;
	background: $primary;
	justify-content: center;

	&:hover {
		opacity: .9;
	}

	&:active {
		box-shadow: inset 0px 0px $margin-sm rgba(0,0,0,.75);
	}

	&.button-link {
		background: none;
	}
}