.button {
	cursor: pointer;
	display: flex;
	padding: $paddingMedium $paddingLarge;
	background: $primary;
	justify-content: center;
	align-items: center;

	.fa {
		margin-right: $marginSmall;
	}

	&:hover {
		opacity: .9;
	}

	&:active {
		box-shadow: $shadow-1x-inset;
	}

	&.button-secondary {
		background: $secondary;
	}

	&.button-link {
		background: none;
	}
}