.card {

	display:flex;
	flex-direction: column;
	margin-bottom: $margin-lg;
	border: 1px solid $gray-darker;


	.card-title {
		background: $gray-darker;
		padding: $padding-md $padding-lg; 
		font-size: $text-md;
		border-bottom: 1px solid $gray-darker;

		&:empty {
			display: none;
		}
	}

	.card-content {
		display: flex;
		background: $gray-dark;
		padding: $padding-lg $padding-lg; 
	}


}