.card {

	display:flex;
	flex-direction: column;
	margin-bottom: $marginLarge;
	border: 1px solid $grayDarker;


	.card-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		background: $grayDarker;
		padding: $paddingMedium $paddingLarge; 
		font-size: $text-md;
		border-bottom: 1px solid $grayDarker;

		&:empty {
			display: none;
		}
	}

	.card-content {
		display: flex;
		background: $grayDark;
		padding: $paddingLarge $paddingLarge; 
	}


}