.flex {
	display: flex;
}

.flex-column {
	flex-direction: column
}

.flex-centered {
	justify-content: center;
	align-items: center;
}

.flex-grow {
	flex: 1;
}

.flex-half-width {
	flex: 0 50%;
}

.flex-left {
	justify-content: flex-start;
}

.flex-center {
	justify-content: center
}

.flex-right {
	justify-content: flex-end;
}

.flex-top {
	align-items: flex-start;
}

.flex-middle {
	align-items: center
}

.flex-bottom {
	align-items: flex-end;
}