html,
body, 
#root,
#root > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}  

body {
	background: $gray-dark;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: $light;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: $gray-darker;
	border-bottom: 1px solid $gray;
	padding: $padding-lg;

	.avatar {
		cursor: pointer;
	}
}

// PAGE WRAPPER
.wrapper {

	display: flex;
	position: relative;
	flex: 1;

	.sidebar {
		display: flex;
		flex: 0 25%;
	}

	.main {
		display: flex;
		flex: 1 75%;
	}
}

// CENTERED PAGE WRAPPER
.centered-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;

	.centered-main {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
		align-items: center;
	}
}
