html,
body, 
#root,
#root > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}  

body {
	background: $grayDark;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: $light;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $grayDarker;
	border-bottom: 1px solid $gray;
	padding: $paddingLarge;
	// height: 100px;

	box-shadow: $shadow-1x;

	// position: fixed;
	// width: 100%;
	// z-index: 100;

	.avatar {
		cursor: pointer;
	}
}

// CENTERED PAGE WRAPPER
.centered-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;

	.centered-main {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
		align-items: center;
	}
}

.app-wrapper {
	display: flex;
	// margin-top: 100px;
}

// Scrollbar
::-webkit-scrollbar              { /* 1 */ }
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { background: black }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { /* 5 */ }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }