.remote-image {
	display: flex;
	justify-content: center;
	align-items: center;

	&.placeholder-image {
		color: $light;
		font-size: 300%;
		background: $grayDarker;
		border: 1px solid $grayDarkest;
	}

}