.create-match-selection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: $padding-lg;
	margin: $margin-lg;
	background: $gray;
	box-shadow: $shadow-1x;

	.create-match-selection-content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $padding-lg;
	}

	.create-match-selection-name {
		margin-left: $margin-lg;
	}

}