.match-list-item {
	color: $gray-base;
	padding: $padding-md;
	background: $light;
	display: flex;
	flex: 0;
	//border-radius: $border-radius;

	.remote-image {
		margin-right: $margin-sm;
	}
}

.match-list-item + .match-list-item {
	border-top: 1px solid $gray;
}


.match-list-item-placeholder {
	color: $gray-lightest;
	font-size: $text-sm;
	display: flex;
	min-height: 120px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid $gray;
}