
.width-50 {
	min-width: 50%;
}

.shadow-1x {
	box-shadow: $shadow-1x;
}

.unscrollable {
	overflow: hidden;
}
 

// TEXT SIZE
.text-sm {
	font-size: $text-sm;
}

.text-md {
	font-size: $text-md;
}

.text-lg {
	font-size: $text-lg;
}

.text-xlg {
	font-size: $text-xlg;
}

// TEXT COLOR
.text-primary {
	color: $primary;
}

.text-secondary {
	color: $secondary;
}

.text-gray {
	color: $grayLight;
}

.text-gray-light {
	color: $grayLight;
}

.text-gray-lighter {
	color: $grayLighter;
}

.text-gray-lightest {
	color: $grayLightest;
}

.text-center {
	text-align: center;
}


// MARGIN
.marginSmall {
	margin: $marginSmall;
}
.marginMedium {
	margin: $marginMedium;
}
.marginLarge {
	margin: $marginLarge;
}

.margin-vertical-sm {
	margin-top: $marginSmall;
	margin-bottom: $marginSmall;
}
.margin-vertical-md {
	margin-top: $marginMedium;
	margin-bottom: $marginMedium;
}
.margin-vertical-lg {
	margin-top: $marginLarge;
	margin-bottom: $marginLarge;
}

.margin-horizontal-sm {
	margin-left: $marginSmall;
	margin-right: $marginSmall;
}
.margin-horizontal-md {
	margin-left: $marginMedium;
	margin-right: $marginMedium;
}
.margin-horizontal-lg {
	margin-left: $marginLarge;
	margin-right: $marginLarge;
}

.margin-collapse-top {
	margin-top: 0;
}

.margin-collapse-bottom {
	margin-bottom: 0;
}

.margin-collapse-left {
	margin-left: 0;
}

.margin-collapse-right {
	margin-right: 0;
}

// PADDING
.paddingSmall {
	padding: $paddingSmall;
}
.paddingMedium {
	padding: $paddingMedium;
}
.paddingLarge {
	padding: $paddingLarge;
}

.padding-vertical-sm {
	padding-top: $paddingSmall;
	padding-bottom: $paddingSmall;
}
.padding-vertical-md {
	padding-top: $paddingMedium;
	padding-bottom: $paddingMedium;
}
.padding-vertical-lg {
	padding-top: $paddingLarge;
	padding-bottom: $paddingLarge;
}

.padding-horizontal-sm {
	padding-left: $paddingSmall;
	padding-right: $paddingSmall;
}
.padding-horizontal-md {
	padding-left: $paddingMedium;
	padding-right: $paddingMedium;
}
.padding-horizontal-lg {
	padding-left: $paddingLarge;
	padding-right: $paddingLarge;
}

.padding-collapse-top {
	padding-top: 0;
}

.padding-collapse-bottom {
	padding-bottom: 0;
}

.padding-collapse-left {
	padding-left: 0;
}

.padding-collapse-right {
	padding-right: 0;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}


// Links
.linkable {
	cursor: pointer;

	&:hover {
		color: $primary;
	}
}