@import '../../engine/theme.json';


$dark: $grayBase;
$light: #fff;

$primary: #EF1748;
$secondary: #0879A2;
$underlay: rgba(239, 23, 72, .5);
$link: #0879A2;


$text-xs: .7rem;
$text-sm: .85rem;
$text-md: 1rem;
$text-lg: 1.25rem;
$text-xlg: 1.5rem;

// padding
$paddingSmall: 5px;
$paddingMedium: 10px;
$paddingLarge: 20px;

// margin
$marginSmall: 5px;
$marginMedium: 10px;
$marginLarge: 20px;

// border
$border-radius: 2px;

// shadow
$shadow-1x: $marginSmall $marginSmall $marginSmall rgba(0,0,0,.15);
$shadow-2x: $marginMedium $marginMedium $marginMedium rgba(0,0,0,.30);
$shadow-3x: $marginLarge $marginLarge $marginLarge rgba(0,0,0,.30);
$shadow-1x-inset: inset 0px 0px $marginSmall rgba(0,0,0,.75);
$shadow-2x-inset: inset 0px 0px $marginMedium rgba(0,0,0,.75);
$shadow-3x-inset: inset 0px 0px $marginLarge rgba(0,0,0,.75);


