.answer-back {
	height: 100%;
	background: $grayDarker;
	display:flex;
	flex-direction: column;
	overflow: hidden;

	.answer-title {
		background: $grayDarkest;
		padding: $paddingSmall;
	}

	.answer-year {
		text-align: right;
		color: $gray;
		padding: $paddingSmall $paddingMedium;
	}

	.answer-overview {
		display: flex;
		flex: 1;

		color: gray;
		padding: $paddingSmall $paddingMedium; 
		font-size: $text-sm;

		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}