.create-selection {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.fa-remove {

		@extend .linkable;

		position: absolute;
		top: $marginSmall;
		right: $marginMedium;
		font-size: $text-lg;
	}

	.create-selection-image {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $paddingLarge;
	}

	.create-selection-label {
		margin-left: $marginLarge;
	}

}