.last-answer {

	background: $gray-darker;
	margin-bottom: $margin-md;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: $padding-md;

	.last-answer-title {
		margin-bottom: $margin-md;
	}


	section {
		display: flex;
		flex: 1;
		flex-direction: row;
	}

	.remote-image {
		margin-right: $margin-lg;
	}

	.answer-title {
		font-size: $text-lg;
	}

	.answer-year {
		color: $gray;
	}
	
}