.match-board-container {
	display: flex;
    justify-content: center;
	flex: 1;
	padding: $padding-lg;
	box-shadow: $shadow-2x-inset;
}

.match-board-placeholder {
	margin-top: $margin-lg;
	color: $gray-light;
}