.match-header {
	background: $grayDarker;
	display: flex;
	margin-bottom: $marginLarge;
}

.match-header-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: $paddingLarge;
	
	.match-header-action {
		display: flex;
		flex: 1;
		flex-direction: column;

		input {
			flex: 0;
		}
	}
}