.match-board-container {
	display: flex;
    justify-content: center;
	flex: 1;
	padding: $paddingLarge;
	box-shadow: $shadow-2x-inset;
	margin-top: 100px;
}

.match-board-placeholder {
	margin-top: $marginLarge;
	color: $grayLight;
}