.match-list-item {
	position: relative;
	color: $gray-base;
	padding: $padding-md;
	background: $light;
	display: flex;
	flex: 0;
	cursor: pointer;

	&:hover {
		box-shadow: $shadow-1x-inset;
	}

	.remote-image {
		margin-right: $margin-sm;
	}

	.fa-remove {
		position: absolute;
		top: 0;
		right: 0;
		padding: $padding-sm;
		cursor: pointer;
	}
}

.match-list-item + .match-list-item {
	border-top: 1px solid $gray;
}


.match-list-item-placeholder {
	color: $gray-lighter;
	font-size: $text-sm;
	display: flex;
	min-height: 120px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}