.remote-search-item {
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;

	&:hover {
		border-radius: $border-radius;
		background-color: $secondary;

		.year {
			color: $light;
		}
	}


	.item-label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $paddingSmall 0;

	}

	.name {
		

	}

	.year {
		color: $grayLight;
		text-align: center;


	}
}