.search-modal {
	position: fixed;
	z-index: 1040;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.search-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: auto;
	background-color: $dark;
	opacity: .85;
}

.search-dialog {
	display: flex;

	position: absolute;
    width: 85%;
    height: 85%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $grayLight;
    background-color: $grayDark;
    box-shadow: $shadow-1x;
    padding: 20px;
    transition: 1s;  
}

.search-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;

	.search-header {
		display: flex;
		flex-direction: column;
		width: 100%;
    	font-size: $text-lg;
    	background: $grayDarker;
    	padding: $paddingLarge;
    	margin-bottom: $marginLarge;
    }

	.search-header input {
		display: flex;
		flex: 1;
		font-size: $text-lg;
		width: 100%;
		text-align: center;
	}

	.no-results-placeholder {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center; 
		color: $grayLight;
	}

	.search-results {
		display:flex;
		flex-wrap: wrap; 
		flex: 1;
		justify-content: space-around;
		overflow: auto;
		padding-bottom: $paddingLarge;
	}
}
