.user-search-item {

	.item-label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 0;
		padding: $paddingMedium;

		.name {
			margin-top: $marginSmall;
			text-align: center;
		}

		&:hover {
			background-color: $secondary;
			.name {
				color: $light;
			}
			
		}

	}

	
}