
.item-grid {
	display:flex;
	flex-wrap: wrap; 
	justify-content: space-around;
}

@import './scss/variables';
@import './scss/reset';
@import './scss/utils';

@import './scss/elements/alert';
@import './scss/elements/avatar';
@import './scss/elements/button';
@import './scss/elements/button-toolbar';
@import './scss/elements/card';
@import './scss/elements/drawer';
@import './scss/elements/flex';
@import './scss/elements/flipper';
@import './scss/elements/forms';
@import './scss/elements/layout';
@import './scss/elements/list-header';
@import './scss/elements/remote-image';

@import './scss/components/answer';
@import './scss/components/answer-back';
@import './scss/components/answer-front';
@import './scss/components/create-match-input';
@import './scss/components/create-selection';
@import './scss/components/last-answer';
@import './scss/components/match';
@import './scss/components/match-status';
@import './scss/components/matches';
@import './scss/components/matches-column';
@import './scss/components/match-header';
@import './scss/components/match-chat';
@import './scss/components/match-chat-column';
@import './scss/components/match-list-item';
@import './scss/components/remote-search-item';
@import './scss/components/sidebar';
@import './scss/components/user-search-item';

@import './scss/components/search';

